*{
    font-family: 'Shizuru', cursive;
}
body{
    background-image: url("./splash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}
h1{
    text-align: center;
    font-size: 50px;
    color: #bb33ce87; 
}
input[type="text"]{
    width: 500px;
    padding: 20px;
    border-radius: 25px;
    background-color: #eab5f257;
}
#addButton{
    width: 150px;
    padding: 20px 50px;
    background-color: #eab5f233;
    font-size: 30px;
    border-radius: 25px;
}
#divProperty{
    display: flex;
    justify-content: center;
}
.uniquefeature{
    display: flex;
    justify-content: center;
    align-items: center;
}
.delButton, .strikeButton{
    padding: 10px 30px;
    font-size: 20px;
    background-color: #eab5f229;
    margin: 25px 10px;
    border-radius: 35px;
}
.itemVal{
    width: 400px;
    font-size: 20px;
    background-color: #eda8f675;
    padding: 20px 35px;
    border-radius: 30px;
}